{% extends 'base.html' %}
{% load comments %}

{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{ post.markdown }}
        </div>
        <div class="mdl-card__actions">
            {{ post.add_time }} - By {{ post.author }}
        </div>
    </div>
    <h4>comments:</h4>
    {#    {% render_comment_list for post %}#}
    {% get_comment_count for post as comment_count %}
    this entry has{{ comment_count }} comments <br>
    {% get_comment_list for post as comments_list %}
    {% for comment in comments_list %}
        <a name="c{{ comment.id }}"></a>
        <p>{{ comment }}</p>
        <a href="{% get_comment_permalink comment %}">
            permalink for comment #{{ forloop.counter }}
        </a>
    {% endfor %}
    {% get_comment_form for post as comment_form %}
    <table>
        <form action="{% comment_form_target %}" method="post">
            <input type="hidden" name="next" value="{{ post.get_absolute_url }}"/>
            {% csrf_token %}
            {{ comment_form }}
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="提交">
                </td>
            </tr>
        </form>
    </table>
{% endblock %}